.form_wrapper {
  background: #F9FAFB;
  border-radius: 8px;
  padding: 16px;
  max-width: 390px;
}

.hero_wrapper{
  padding-top: 64px;
  padding-bottom: 96px;
}




































/* .landing-container {
  display: flex;
  justify-content: space-around;
}
.sub-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name_label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #344054;
}

.name_input {
  box-sizing: border-box;
  padding: 10px 14px;
  width: 22.625rem;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.name_input::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #9ca3af;
}

.d-flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}

.d-flex-row {
  display: flex;
  align-items: center;
}

.checkbox {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}

.checkbox-label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #111928;
}

.apply-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  gap: 8px;
  width: 165px;
  height: 48px;
  background: #111928;
  border-radius: 4px;
  cursor: pointer;
}

.btn-txt {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.landing-main-para {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.02em;
  width: 25.625rem;
  color: #101828;
}
.landing-sub-para {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  width: 30rem;
  color: #667085;
}
.to-design {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #6b7280;
}
.grey-box {
  width: 592px;
  height: 560px;
  background: #f2f4f7;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
} */